.game-button{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 18px solid;
    background: #fff;
    position: absolute;
    background-position: center;

    &:hover{
        cursor: pointer;
    }

    &__icon-container{
        border-radius: 50%;
        width: 100%;
        text-align: center;
    }
}
.play-selection{
    position: static;
    width: 250px;
    height: 250px;
    margin: 50px 40px 0 40px;
}
.random-selection{
    margin: 50px 40px 0 40px;
    width: 250px;
    height: 250px;
    position: static;
}