.app-play{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;

    &__pack{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            font-family: "Barlow Semi Condensed", sans-serif;
            color: white;
            letter-spacing: 1px;
            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
        }

        &__button{
            margin: 30px 40px 0 40px;
            width: 220px;
            height: 220px;
            background-size: 50%;
            border-radius: 50%;
            font-size: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transform:none;
        }
    }
    
    &__result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        h3{
            text-transform: uppercase;
            font-size: 2.5em;
            margin-bottom: 10px;
            margin: 20px 0;
            font-family: "Barlow Semi Condensed", sans-serif;
            color: white;
            letter-spacing: 1px;
            text-align: center;
            font-weight: bold;
        }

        .restart{
            background-color: white;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 0.4rem;
            font-size: 1em;
            font-family: "Barlow Semi Condensed", sans-serif;
            letter-spacing: 1px;
            text-align: center;
            font-weight: 400;
            width: 114px;
        }
    }
}
